.image-grid-container {
  padding: 0 16px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  gap: 24px;
}

.image-grid img {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
  object-fit: cover;
}



/* Responsive: 5 per row on large screens */
@media (min-width: 1200px) {
  .image-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 180px;
  }
}

/* Smaller screens */
@media (max-width: 1199px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 140px;
  }
}

@media (max-width: 991px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px;
  }
}

@media (max-width: 500px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
  }
}

@media (max-width: 370px) {
  .image-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}